---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="color-scheme" content="only light" />
        <meta property="og:title" content="TheDaks" />
        <meta
            property="og:description"
            content="Mint TheDaks on Monad Tesnet!"
        />
        <meta property="og:image" content="https://thedaks.pages.dev/og.png" />
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="640" /><meta
            name="twitter:card"
            content="summary_large_image"
        />
        <meta name="twitter:site" content="@thedaks_png" />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>TheDaks</title>
    </head>

    <body class="flex flex-col min-h-svh">
        <slot />
    </body>
</html>
